In [1]:
# Import the packages
# read the data
# convert cat and num columns using select data types
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
visa_df=pd.read_csv('Visadataset.csv')
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [3]:
cat_cols=visa_df.select_dtypes(include='object').columns
num_cols=visa_df.select_dtypes(exclude='object').columns

In [4]:
cat_cols

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'region_of_employment', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [5]:
num_cols

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

**How many ways retrive a column**

- I want retrive a continet column

In [ ]:
visa_df['continent']  # Series
visa_df[['continent']] # Df
visa_df.iloc[:,1]    # Series
visa_df.loc[:,'continent'] # Series
visa_df.iloc[:,[1]] # DF
visa_df.loc[:,['continent']] # DF
visa_df.continent # Series

**unique**

- read the continent column appy unique method

- unique will give the continents lables which are repeating entire data

In [6]:
visa_df['continent'].unique()

array(['Asia', 'Africa', 'North America', 'Europe', 'South America',
       'Oceania'], dtype=object)

In [ ]:
# total data rows are 25480
# continent has only 6 unique lables

**nunique**

In [7]:
visa_df['continent'].nunique()

6

**task-1**

- we know that only 6 lables are repeating in entire 25480 observations

- now we want to know how many times **Asia** repeating

- we alreday know that cat column can represnt using **frequeny table**

- our main goal is to find the frequency table

In [12]:
# step-1: read continent data
# step-2: we want Asia so , the data equal to Asia
visa_df['continent']
con=visa_df['continent']=='Asia'
visa_df[con]
len(visa_df[con])

16861

In [9]:
5==5

True

In [ ]:
visa_df['continent']
con=visa_df['continent']=='Asia'
visa_df[con]
len(visa_df[con])

visa_df['continent']
con=visa_df['continent']=='Asia'
visa_df[con]
len(visa_df[con])

visa_df['continent']
con=visa_df['continent']=='Asia'
visa_df[con]
len(visa_df[con])

visa_df['continent']
con=visa_df['continent']=='Asia'
visa_df[con]
len(visa_df[con])

visa_df['continent']
con=visa_df['continent']=='Asia'
visa_df[con]
len(visa_df[con])

visa_df['continent']
con=visa_df['continent']=='Asia'
visa_df[con]
len(visa_df[con])

In [14]:
cont_lables=visa_df['continent'].unique()
for i in cont_lables:
    visa_df['continent']
    con=visa_df['continent']==i
    visa_df[con]
    count=len(visa_df[con])
    print(f'The number of applicants from {i} is : {count}')

The number of applicants from Asia is : 16861
The number of applicants from Africa is : 551
The number of applicants from North America is : 3292
The number of applicants from Europe is : 3732
The number of applicants from South America is : 852
The number of applicants from Oceania is : 192

In [15]:
cont_lables=visa_df['continent'].unique()
count=[]
for i in cont_lables:
    visa_df['continent']
    con=visa_df['continent']==i
    visa_df[con]
    count.append(len(visa_df[con]))

In [17]:
count,cont_lables

([16861, 551, 3292, 3732, 852, 192],
 array(['Asia', 'Africa', 'North America', 'Europe', 'South America',
        'Oceania'], dtype=object))

In [19]:
pd.DataFrame(zip(cont_lables,count),
            columns=['Continent','Number of Applicants'])

       Continent  Number of Applicants
0           Asia                 16861
1         Africa                   551
2  North America                  3292
3         Europe                  3732
4  South America                   852
5        Oceania                   192

In [21]:
visa_df['continent'].value_counts()

continent
Asia             16861
Europe            3732
North America     3292
South America      852
Africa             551
Oceania            192
Name: count, dtype: int64

In [ ]:
## No class tomorrow in the morning
## Azure session in the eve we have at 5.30 offline & online
## Do not miss the sessions
## I will directly start the projects
## Sunday No workshop

In [1]:
# Import the packages
# read the data
# convert into cat and num columns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

visa_df=pd.read_csv('Visadataset.csv')

cat_cols=visa_df.select_dtypes(include='object').columns
num_cols=visa_df.select_dtypes(exclude='object').columns

In [ ]:
# We learned how to cretae a Frequency table with out method

In [2]:
visa_df['continent'].value_counts()
# Series 
# when we convert series into dictionary key:value pair

continent
Asia             16861
Europe            3732
North America     3292
South America      852
Africa             551
Oceania            192
Name: count, dtype: int64

In [5]:
con_keys=visa_df['continent'].value_counts().keys()

In [6]:
cont_values=visa_df['continent'].value_counts().values

In [9]:
cols=['Continent','Number of Applicants']
cont_df1=pd.DataFrame(zip(con_keys,cont_values),
                     columns=cols)
cont_df1

       Continent  Number of Applicants
0           Asia                 16861
1         Europe                  3732
2  North America                  3292
3  South America                   852
4         Africa                   551
5        Oceania                   192

**Method-1-Value counts**

In [10]:
cont_data=visa_df['continent'].value_counts()
con_keys=cont_data.keys()
cont_values=cont_data.values
cols=['Continent','Number of Applicants']
cont_df1=pd.DataFrame(zip(con_keys,cont_values),
                     columns=cols)
cont_df1

       Continent  Number of Applicants
0           Asia                 16861
1         Europe                  3732
2  North America                  3292
3  South America                   852
4         Africa                   551
5        Oceania                   192

**Method-2:using forloop**

In [12]:
cont_lables=visa_df['continent'].unique()
count=[]
for i in cont_lables:
    visa_df['continent']
    con=visa_df['continent']==i
    visa_df[con]
    count.append(len(visa_df[con]))

cont_df2=pd.DataFrame(zip(cont_lables,count),
            columns=['Continent','Number of Applicants'])

In [13]:
cont_df1.to_csv('continent_info.csv',index=False)
cont_df2.to_excel('continent_info.xlsx',index=False)

In [ ]:
# Unique will give : keys are in sorting order
# Value counts give: values are in sorting order

**task-2**

- Create all categorical columns frequency table using value_counts

- Using python create one directory(folder) with the name **frequency table**

- you need to iterate each column, but each column has different lables

- provide one column name as **Lable**

- another column name as **count**

In [ ]:
cont_data=visa_df['continent'].value_counts()
con_keys=cont_data.keys()
cont_values=cont_data.values
cols=['Continent','Number of Applicants']
cont_df1=pd.DataFrame(zip(con_keys,cont_values),
                     columns=cols)
cont_df1.to_csv('continent_info.csv',index=False)

In [18]:
for i in cat_cols[1:]:
    print(f'{i}_info.csv')

continent_info.csv
education_of_employee_info.csv
has_job_experience_info.csv
requires_job_training_info.csv
region_of_employment_info.csv
unit_of_wage_info.csv
full_time_position_info.csv
case_status_info.csv

In [19]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
i

9

**Create a folder**

- Step-1: get the current working directory

- Step-2: what is your new folder name

- Step-3: Join both

- Step-4: Make the directory

In [25]:
import os
cwd=os.getcwd()
folder_name='frequency_table'
new_dir=os.path.join(cwd,folder_name)
try:
    os.makedirs(new_dir)
except Exception as e:
    print(e)

[WinError 183] Cannot create a file when that file already exists: 'C:\\Users\\omkar\\OneDrive\\Documents\\Data science\\Naresh IT\\Naresh IT\\Data science\\Batches\\Batch-9_June\\EDA\\frequency_table'

In [26]:
new_dir

'C:\\Users\\omkar\\OneDrive\\Documents\\Data science\\Naresh IT\\Naresh IT\\Data science\\Batches\\Batch-9_June\\EDA\\frequency_table'

In [ ]:
cont_data=visa_df['continent'].value_counts()
con_keys=cont_data.keys()
cont_values=cont_data.values
cols=['Continent','Number of Applicants']
cont_df1=pd.DataFrame(zip(con_keys,cont_values),
                     columns=cols)
cont_df1.to_csv('continent_info.csv',index=False)

In [ ]:
'C:\\Users\\omkar\\OneDrive\\Documents\\Data science\\Naresh IT\\Naresh IT\\Data science\\Batches\\Batch-9_June\\EDA\\frequency_table\\continent_info.csv'

In [28]:
f"{new_dir}'\\'{i}_info.csv'

'C:\\Users\\omkar\\OneDrive\\Documents\\Data science\\Naresh IT\\Naresh IT\\Data science\\Batches\\Batch-9_June\\EDA\\frequency_table\\continent_info.csv'

In [31]:
for i in cat_cols[1:]:
    print()

C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\continent_info.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\education_of_employee_info.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\has_job_experience_info.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\requires_job_training_info.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\region_of_employment_info.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\unit_of_wage_info.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\full_time_position_info.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\case_status_info.csv

In [32]:
### All together
import os
cwd=os.getcwd()
folder_name='frequency_table'
new_dir=os.path.join(cwd,folder_name)
try:
    os.makedirs(new_dir)
except Exception as e:
    print(e)
########################################################
for i in cat_cols[1:]:
    data=visa_df[i].value_counts()
    keys=data.keys()
    values=data.values
    cols=['Lable','Count']
    df1=pd.DataFrame(zip(keys,values),
                         columns=cols)
    df1.to_csv(f'{new_dir}\\{i}_info.csv',index=False)

In [34]:
for i in cat_cols[1:]:
    print(f"{i}.csv")

continent.csv
education_of_employee.csv
has_job_experience.csv
requires_job_training.csv
region_of_employment.csv
unit_of_wage.csv
full_time_position.csv
case_status.csv

In [36]:
for i in cat_cols[1:]:
    print(new_dir+'\\'+i+'.csv')
    print(f"{new_dir}\\{i}.csv")

C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\continent.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\education_of_employee.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\has_job_experience.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\requires_job_training.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\region_of_employment.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\unit_of_wage.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\full_time_position.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDA\frequency_table\case_status.csv

In [1]:
# Import the packages
# Read the data
# cat and numerical columns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

visa_df=pd.read_csv('Visadataset.csv')

cat_cols=visa_df.select_dtypes(include='object').columns
num_cols=visa_df.select_dtypes(exclude='object').columns

In [ ]:
# Frequency table
# we have two methods
# method-1: using unique and for loop
# method-2: using value counts(method)
cont_data=visa_df['continent'].value_counts()
con_keys=cont_data.keys()
cont_values=cont_data.values
cols=['Continent','Number of Applicants']
cont_df1=pd.DataFrame(zip(con_keys,cont_values),
                     columns=cols)
cont_df1

# the above task we need to repeat for all cat columns
# but in that we are avoiding case id: many unique value
# the above line has total 6 lines to apply all 8 columns= 48 lines
# we need to make generalised code

In [10]:
import os
folder='frequency_table_2'
new_dir=os.path.join(os.getcwd(),folder)
os.makedirs(new_dir)

In [11]:
for i in cat_cols[1:]:
    print(f"{new_dir}\{i}.csv")

C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDAfrequency_table_2\continent.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDAfrequency_table_2\education_of_employee.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDAfrequency_table_2\has_job_experience.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDAfrequency_table_2\requires_job_training.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDAfrequency_table_2\region_of_employment.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDAfrequency_table_2\unit_of_wage.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDAfrequency_table_2\full_time_position.csv
C:\Users\omkar\OneDrive\Documents\Data science\Naresh IT\Naresh IT\Data science\Batches\Batch-9_June\EDAfrequency_table_2\case_status.csv

In [13]:
for i in cat_cols[1:]:
    data=visa_df[i].value_counts()
    keys=data.keys()
    values=data.values
    cols=['Lables','Count']
    df1=pd.DataFrame(zip(keys,values),
                         columns=cols)
    df1.to_csv(f'{new_dir}\{i}_frequency_table.csv')